
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Signika:wght@300;400;500;600;700&display=swap');

body {
  background-image: radial-gradient(47.66% 38.4% at 52.19% 28.51%, rgb(18, 25, 40) 0%, rgb(8, 11, 18) 100%);
  color: rgba(204, 215, 229, 1);
	font-size: 140%;
  font-family: "Signika",sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 0 2em;
}

@media (max-width: 768px) {
  .container {
    padding: 0 0.2em;
  }

  body {
    font-size: 110%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f7dcba;
}

a {
  color: #00d1b2;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.osta-blockquote {
  background: linear-gradient(to right bottom, #313b52, #2f394f, #2d364b, #2b3448, #293245);
  border-left: 0.3em solid #d3b2a1;
  color: #d3b2a1;
  margin: auto;
  padding: 0.1em 1.5em;
  width: 50%;
}

.osta-hl {
  border-radius:0.5em;
  color: #dedede;
	font-family: 'Fira Mono', monospace;
  font-size: 0.9em;
  font-weight: normal;
}

.osta-hl-inline {
  background: linear-gradient(to right bottom, #222939, #1e2535, #1b2231, #171e2e, #141b2a);
	border: 1px solid #141b2a;
  padding: 0.2em 0.35em;
}

.osta-hl-block {
	background: linear-gradient(to right bottom, #222939, #1e2535, #1b2231, #171e2e, #141b2a);
	border-radius: 0.5em;
  border: 1px solid #141b2a;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.osta-hl-results {
  background: linear-gradient(to right bottom, #313b52, #2f394f, #2d364b, #2b3448, #293245);
  border-left: 3px solid #dedede;
	border-radius: 0.2em;
  display: block;
  margin: auto;
  padding: 0.5em 1em;
  overflow-x: auto;
  width: 92%;
}

.osta-hl-negation-char { color: #ff6c60}              /* font-lock-negation-char-face */
.osta-hl-warning { color: #fd971f}                    /* font-lock-warning-face */
.osta-hl-variable-name { color: #fd971f}              /* font-lock-variable-name-face */
.osta-hl-doc { color: #eedc82}                        /* font-lock-doc-face */
.osta-hl-doc-string { color: #eedc82}                 /* font-lock-doc-string-face */
.osta-hl-string { color: #eedc82}                     /* font-lock-string-face */
.osta-hl-function-name { color: #458b74}              /* font-lock-function-name-face */
.osta-hl-builtin { color: #457f8b}                    /* font-lock-builtin-face */
.osta-hl-type { color: #d3b2a1}                       /* font-lock-type-face */
.osta-hl-keyword { color: #f92672}                    /* font-lock-keyword-face */
.osta-hl-preprocessor { color: #f92672}               /* font-lock-preprocessor-face */
.osta-hl-comment-delimiter { color: #8c8c8c}          /* font-lock-comment-delimiter-face */
.osta-hl-comment { color: #8c8c8c}                    /* font-lock-comment-face */
.osta-hl-constant { color: #87cefa}                   /* font-lock-constant-face */
.osta-hl-reference { color: #f5ebb6}                  /* font-lock-reference-face */
.osta-hl-regexp-grouping-backslash { color: #87cefa}  /* font-lock-regexp-grouping-backslash */
.osta-hl-regexp-grouping-construct { color: #87cefa}  /* font-lock-regexp-grouping-construct */
.osta-hl-number { color: #eedc82}                     /* font-lock-number-face */


.osta-hl-clojure-keyword { color: #457f8b}            /* clojure-keyword-face */

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
}

::-webkit-scrollbar-track {
  background: rgb(8, 11, 18);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right top, #345157, #2d4751, #283d4a, #253342, #222939);
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to right top, #345157, #304c54, #2d4751, #2a424e, #283d4a);
}
